<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Jobs bei der Schütze AG im MKK</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Schütze AG" />
    <meta
      name="description"
      content="Jobs bei der Schütze AG. Jetzt auch im Main-Kinzig-Kreis."
    />
    <meta name="content-language" content="de" />
    <link rel="shortcut icon" type="image/ico" href="static/favicon.ico" />
    <link rel="canonical" href="https://mkk.schuetze.ag/" />
  </head>

  <body>
    <%- include src/partials/header %>
    <main>
      <%- include src/partials/jobs %> <%- include src/partials/work %> <%-
      include src/partials/testimonials %> <%- include src/partials/process %>
      <%- include src/partials/about %> <%- include src/partials/facts %> <%-
      include src/partials/apply %>
    </main>
    <%- include src/partials/footer %> <%- include src/partials/jobs-modals %>
  </body>
</html>
